@font-face {
	font-family: pc98;
	src: url(./fonts/pc-9800.ttf);
}

html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
	color: white;
	font-family: pc98;
}
body {
	background-image: url(./images/background.gif);
	background-size: cover;
	margin: 0;
}
header, ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 18px;
	margin-left: 32px;
	margin-right: 32px;
	gap: 32px;
	list-style: none;
}
a {
	text-decoration: none;
	color: white;
}
.logo {
	filter: opacity(80%);
}
section, footer {
	background-color: rgba(0, 0, 0, 80%);
	border: 4px ridge rgb(120, 110, 129);
	border-radius: 15px;
	display: flex;
	justify-content: center;
	margin-top: 36px;
	gap: 64px;
}

.top-left {
	max-width: 50vh;
}
.top-left > p {
	font-size: 18px;
}
.top-left > button {
	background-color: rgba(255, 1, 1, 50%);
	font-size: 18px;
	font-weight: bold;
	width: 6em;
	padding: 12px;
}
.first-header {
	font-size: 48px;
	font-weight: 900;
	margin: 0;
}
.top-right {
	align-self: center;
}
.top-right > img {
	border-radius: 10% 25%;
}
.middle{
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	gap: 12px;
	max-height: 40vh;
}
.middle-text {
	font-size: 36px;
	font-weight: 900px;
}
.image-strip {
	display: flex;
	justify-content: center;
	gap: 32px;
}
.image-strip img {
	border-radius: 15%;
	filter: grayscale(1);
	border: 4px double white;
}
.strip-text {
	font-size: 18px;
	text-align: center;
}
.image-strip img:hover {
	filter: grayscale(0);
}
.image-strip > div {
	flex: 0 1 226px;
}
.quote {
	display: flex;
	flex-direction: column;
	flex: 0 1 100vh;
	justify-content: center;
	padding: 36px;
}
.quote-text {
	flex: 3;
	font-size: 24px;
	font-style: italic;
}
.quote-author {
	flex: 1;
	align-self: flex-end;
	font-weight: bold;
}
.signup {
	padding: 64px;
	max-width: 90vh;
	margin: 32px auto;
}
.signup > button {
	background-color: black;
	padding: 16px;
	flex-basis: 5em;
	align-self: center;
	font-weight: bold;
}
footer {
	align-items: center;
	margin: 60px 0px 0px 0px;
	border-radius: 0;
	min-height: 6em;
	background-color: black;
	border: none;
}
.top, .quotebox {
	border: none;
	border-radius: 0;
}